* {
  margin: 0;
  box-sizing: border-box;
  /* background-image: url(./img/Screen\ Shot\ 2022-06-08\ at\ 16.15.06.png);
    background-repeat: no-repeat;
    background-size:cover; */
  background: url(./img/Screen\ Shot\ 2022-06-08\ at\ 16.15.06.png) no-repeat
    center center fixed;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
}
.container {
  margin-top: 15rem;
  align-items: center;
  text-align: center;
  /* vertical-align: middle; */
  /* margin: auto; */
}
body div h1 {
    color: purple;
}
body div p {
    color: purple;
}

.guess {
    /* border: none; */
    border-radius: 0.4rem;
    margin-top: 0.9rem;
    padding: 0.2rem 1rem;
    background-color: aqua;
}